
<!DOCTYPE html>
<html lang="en">
<head>
    {% from '_macros.html' import load_cdns %}
    {{ load_cdns() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>


    {% include "navbar.html" %}

    {% include "alert.html" %}

    
    <div id="app" class="container " style="margin-top: 8rem;">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>