

    <!-- <h2>Education</h2> -->
    <main class="education-container">
        <div class="education-wrapper">
            <div class="education-content">
                <h2 style="color: #0197f6; font-weight: bold;">BS Information Technology</h2>
                <p>
                    <strong>Aemilianum College Inc.</strong> <br />
                    <span>
                        <i class="fas fa-location-dot"></i> Piot, 4700 Sorsogon City, Sorsogon, Philippines
                    </span> 
                </p>
                <p>From 2021 to 2025</p>
                <div class="awards-toggle">
                    Awards 
                </div>
                <ul>
                    <li>Best Capstone Project <i class="fas fa-award"></i></li> 
                    <li>Programming Of The Year <i class="fas fa-award"></i></li> 
                </ul>
            </div>
            <div class="education-logo">
                <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="College Logo">
            </div>
        </div>
    </main>


    
    <style>
        .education-container {
            background-size: cover;
            background-position: center;
            min-height: 50vh;
            border-radius: 10px;
        }

        .education-wrapper {
            background-color: rgba(252, 252, 252, 0.035);
            padding: 20px;
            display: grid;
            grid-template-columns: 70% 30%;
        }

        .education-content {
            padding-right: 20px;
        }

        .awards-toggle {
            margin-top: 10px;
            font-family: 'Pacifico';
            font-weight: bold;
            color: gold;
        }

        .education-logo {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
        }

        .education-logo img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        /* Responsive styles */
        @media (max-width: 768px) {
            .education-wrapper {
                grid-template-columns: 1fr;
                gap: 20px;
            }
            
            .education-content {
                padding-right: 0;
            }
            
            .education-logo {
                justify-content: center;
                order: -1;
            }
            
            .education-logo img {
                width: 120px;
                height: 120px;
            }
        }

        
        .logo {
            transition: transform 0.3s;

        }
        .logo:hover {
            transform: scale(1.03);
            transition: transform 0.3s;

        }
    </style>